.button {
  font-family: "Roboto", sans-serif;

  border: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  cursor: pointer;

  border-radius: 7px;

  transition: 0.2s color ease;

  padding: 5px 10px;

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button img {
  transition: 0.2s filter ease;
}

img.button__loaded {
  animation: 1s linear 0s normal none infinite running button__loaded;
  -webkit-animation: 1s linear 0s normal none infinite running button__loaded;
}
@keyframes button__loaded {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes button__loaded {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button__mini {
  line-height: 20px;

  padding: 7px;
}

.button:hover {
  color: #0055fb;
}

.button:hover img {
  filter: invert(17%) sepia(61%) saturate(7075%) hue-rotate(219deg)
    brightness(103%) contrast(104%);
}

.button:focus {
  outline: 2px solid rgba(69, 165, 255, 0.5);
  color: #0055fb;
}

.button:focus img {
  filter: invert(17%) sepia(61%) saturate(7075%) hue-rotate(219deg)
    brightness(103%) contrast(104%);
}

.button:active {
  outline: none;
}

.button__primary {
  background-color: #0055fb;

  border-radius: 5px;

  color: #fff;

  transition: 0.15s background-color ease-in-out;
}

.button__primary:hover {
  color: #fff;

  background-color: #43a0f7;
}

.button__primary:focus {
  color: #fff;
}

.button__primary:active {
  background-color: #3299fa;
}

.button__primary:disabled {
  background-color: #c4c4c4;
}

.button__primary_loading:hover {
  background-color: #0055fb;
}

.button__primary_loading:active {
  background-color: #0055fb;
}

.button__primary_loading:disabled {
  background-color: #0055fb;
}

.button__primary_loading:active,
.button__primary_loading:disabled,
.button__primary_loading:hover img {
  filter: none;
}
