.console {
  min-height: 400px;
  height: calc(100vh - 100px);
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.console__resize {
  cursor: col-resize;
}

.console__resize textarea {
  cursor: col-resize;
}

.console__main {
  height: calc(100% - 70px);
  padding: 10px 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.console__drag {
  cursor: col-resize;
  width: 10px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.console__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 15px;
}

.console__bottom > div {
  flex-basis: 30%;
}

.console__bottom_submit {
  width: 110px;
}

.console__bottom_formating {
  display: flex;
  justify-content: flex-end;
}

.console__bottom_link {
  text-align: center;
}

.console__bottom_formating button {
  background-color: transparent;
}

.console__bottom_formating img {
  margin-right: 8px;
}
